@import "tailwindcss";
@plugin "daisyui";

html,
body {
  font-family: "Inter", sans-serif;
}

@keyframes pop {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: pop 0.3s ease-out;
}
